.footer {
    background-color: #1d1c1c;
    padding: 40px 0;
  }
  
  .footer .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .footer h5 {
    color: #aca8a8;
  }
  
  .footer p {
    color: #fff;
  }
  